@import url("./_variables.css");

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Et knippe bonusvariabler!  */
:root {
  --drop-shadow-heavy: 0px 4px 4px 0.5px #0000004d;
  --drop-shadow-medium: 0px 2px 4px 0.5px #0000004d;
  --drop-shadow-light: 0px 1px 4px 0.5px #0000004d;
}
